@import "style.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

.sidebar{
	width: 100%;
	min-height: 100%;
	max-width: 200px;
	background-color: #ffffff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	position: absolute;
	z-index: 1;
	transition: 0.3s ease-in-out;
	border-bottom-right-radius: 12px;
}

.sidebar .imgBox{
	position: relative;
	height: 120px;
	width: 100%;
	margin-bottom: 20px;
	z-index: -1;
}

.sidebar .imgBox:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(225deg,var(--color-primary),var(--color-secondary));
	z-index: 1;
	mix-blend-mode: screen;
}

.sidebar .imgBox img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: 5px;
	border-radius: 12px;
}

.sidebar .navbar{
	width: 100%;
	padding: 0 10px;
	list-style: none;
}

.sidebar .navbar li{
	width: 100%;
	display: inline-flex;
	margin:  5px 0;
}

.sidebar .navbar li a{
	width: 100%;
	display: inline-flex;
	text-decoration: none;
	text-transform: capitalize;
	color: var(--color-grey);
	padding: 5px 8px;
	border-radius: 10px;
}

.sidebar .navbar li:hover a{
	background-color: var(--color-primary);
	color: #ffffff;
}

.sidebar .navbar li a i{
	margin: auto 0;
	font-size: 20px;
	width: 40px;
	text-align: center;
}

.sidebar .navbar li a p{
	font-size: 20px;
	transform: scale(1);
	transform-origin: left;
	transition: 0.3s;
}


#check:checked ~ .container .sidebar .navbar li a p{
	transform: scale(0);
}

.hide{
	display: none;
	visibility: hidden;
}

.sidebar label #arrow{
	position: absolute;
	width: 35px;
	height: 35px;
	line-height: 35px;
	right: -15px;
	font-size: 25px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	text-align: center;
	top: 100px;
	border-radius: 50px;
	color: var(--color-primary);
	transition: 0.3s;
}

#check:checked ~ .container .sidebar label #arrow{
	transform: rotate(180deg);
}

#check:checked ~ .container .sidebar{
	max-width: 60px;
}

#check:checked ~ .container .content{
	padding-left: 60px;
}

.container .content{
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background-color: #ffffff;
	padding-left: 200px;
	padding-top: 30px;
}

.container .content h1{
	text-align: center;
}

.container .content h3{
	font-weight: 600;
	margin-top: 20px;
	margin-left: 60px;
	margin-right: 20px;
	position: relative;
}

.container .content .info-message{
	font-weight: 600;
	margin-left: 60px;
	display: none;
}


.container .content h3::after{
	content: '';
	position: absolute;
	left: -5px;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: var(--color-secondary);
}

.container .content .account,
.container .content .account form{
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.container .content .account div{
	display: inline-flex;
	margin: 0px 10px;
}

.container .content .account div p{
	padding-left: 10px;
	font-size: 20px;
}

.container .content .account div i{
	font-size: 20px;
	color: var(--color-primary);
}

.container .content .account .labelBox{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.container .content .account .inputBox{
	position: relative;
	margin-bottom: 20px;
}

.container .content .account .inputBox i{
	position: absolute;
	left: 10px;
	font-size: 26px;
	top: 5px;
}

.container .content .account .inputBox input{
	width: 100%;
	padding: 10px 20px 10px 40px;
	outline: none;
	font-weight: 400;
	border: 1px solid var(--color-grey);
	font-size: 16px;
	letter-spacing: 1px;
	color: var(--color-grey);
	background: transparent;
	border-radius: 30px;
	text-align: center;
}

.container .content .account form button{
	width: 80%;
	max-width: 200px;
	padding: 10px 20px 10px 20px;
    background: var(--color-primary);
    color: #ffffff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 1px;
	border-radius: 30px;
}

.container .content .account form button:hover{
    background: var(--color-dark-primary);
}

@media (max-width: 768px) {
	.container .content{
		padding-left: 60px;
	}

	.container .content h3{
		margin-left: 30px;
	}
}