table{
	width:300px;
	margin:auto;
}

tr.plateau{
	height:100px;
	width:100%;
}


td{
	width:100px;
	height:100%;
}

button.game{
	width:100px;
	height:100px;
}

div#result{
	margin-top:5%;
	font-size:20px;
	text-align:center;
}

button.buttonSelection{
	margin-left: auto;
	margin-right: auto;
}

div.case{
	width: 100px;
	height: 100px;
}

button.play{
	margin-top: 20px;
	width: 100px;
	height: 100px;
}