@import "style.css";

table{
	width:300px;
	margin:auto;
}

tr.plateau{
	height:100px;
	width:100%;
}


td.simple{
	width:100px;
	height:100%;
}

button.game{
	width:100px;
	height:100px;
}

button.btnSelection{
	margin-top: 2%;
	margin-bottom: 2%;
}

h1.title-page{
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}